/*頁籤style--start*/

/*置中*/
.nav.nav-tabs{
    border: 0;
    display: table;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    width:fit-content;
}

.mem_ind_content>ul.nav-tabs{
    border-bottom: 1px solid #ddd;
}

.mem_ind_content>ul.nav-tabs>li{
    margin-left: 25px;
    margin-right: 25px;
}

.mem_ind_content>ul.nav-tabs a{
    border: 0px;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus{
    background-color: transparent;
    border-bottom: 0px;
}

/*頁籤style--end*/

/*頁面安排--start*/


    
.hl_div{
    height: 200px;
    width: 100%;
    border: 1px solid #eee;
    margin-bottom: 50px;
}

/*個人首頁-右半邊*/
#home_right,
#friendsPage,
#blog,
#trip,
#grp,
#question,
#gallery{
/*     float:left; */
/*     width:100%; */
   	margin-left: 70px;
    margin-right: 70px;
}

/*btn樣式 為蓋掉原semantic.min的*/
.ui.button {
	font-family:inherit;
}

#mem_ind_name_friBtn,
#mem_report{
    display: inline-block;
    vertical-align: text-top;
    line-height: 1em;
}

/*為蓋掉原index.css的*/
.row {
    margin-top: 0px;
    height: auto;
    margin-bottom: 100px;
}
/*照片牆卡片樣式 為蓋掉原semantic.min的*/
.ui.card > .image > img, .ui.cards > .card > .image > img {
	height: 250px;
	
}

.ui.card > .image img, .ui.cards > .card > .image img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: inherit;
  }

.ui.card > .image:not(.ui) img, .ui.cards > .card > .image:not(.ui) img {
    border: none;
}
.ui.card > .image img, .ui.cards > .card > .image img {
    height: 250px;
}
/**卡片標題字形會被蓋掉*/
.ui.card > .content > .header, .ui.cards > .card > .content > .header {
    font-family: inherit;
}


/**問答區的卡片***/
.ui.link.card{
	margin-top: 40px;
}

a{
	color:#5E5E5E;	
}

.ui.link.card .header>a:hover,
.ui.card .content>a.header:hover,
.ui.card > .content > a.header:hover,
.ui.cards > .card > .content > a.header:hover {
	color:#5E5E5E;
	text-decoration:none;
}


/*��摰��--end*/