body > div.footer {
   background-color: #1b1c1d;
}
body > div.footer > div > div.footer-grids > div > div.footer-grid-heading > h4, .footer-grid-info ul li a {
    color: white;
}

.footer-grid-info form input[type="submit"] {
    color: white;
    border: solid 2px white;
}
.footer {
    padding: 4em 0;
    background: #FFF;
}
.copyright p, .copyright p a {
    color: white;
}