<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>CA102G4</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <resource-ref>
    <description>DB Connection</description>
    <res-ref-name>jdbc/CA102G4</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <servlet>
    <servlet-name>BlogServlet</servlet-name>
    <servlet-class>com.blog.controller.BlogServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BlogServlet</servlet-name>
    <url-pattern>/blog.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>blogIndex</servlet-name>
    <jsp-file>/front_end/blog/blogIndex.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>blogIndex</servlet-name>
    <url-pattern>/blog.index</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>blogBrowse</servlet-name>
    <jsp-file>/front_end/blog/blogBrowse.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>blogBrowse</servlet-name>
    <url-pattern>/blog</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChatServlet</servlet-name>
    <servlet-class>com.chat.controller.ChatServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChatServlet</servlet-name>
    <url-pattern>/chat.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChatRoomServlet</servlet-name>
    <servlet-class>com.chat.controller.ChatRoomServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChatRoomServlet</servlet-name>
    <url-pattern>/chatRoom.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdServlet</servlet-name>
    <servlet-class>com.ad.controller.AdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdServlet</servlet-name>
    <url-pattern>/ad.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ADPicReader</servlet-name>
    <servlet-class>com.ad.controller.ADPicReader</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ADPicReader</servlet-name>
    <url-pattern>/ADPicReader</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdScheduleServlet</servlet-name>
    <servlet-class>com.ad.controller.AdScheduleServlet</servlet-class>
    <load-on-startup>10</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdScheduleServlet</servlet-name>
    <url-pattern>/AdSchedule.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FriServlet</servlet-name>
    <servlet-class>com.fri.controller.FriServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FriServlet</servlet-name>
    <url-pattern>/fri.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MemberServlet</servlet-name>
    <servlet-class>com.mem.controller.MemberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberServlet</servlet-name>
    <url-pattern>/front_end/member/member.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Photo_wallServlet</servlet-name>
    <servlet-class>com.photo_wall.controller.Photo_wallServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Photo_wallServlet</servlet-name>
    <url-pattern>/photo_wall.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>com.admin.controller.AdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/admin.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GrpServlet</servlet-name>
    <servlet-class>com.grp.controller.GrpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GrpServlet</servlet-name>
    <url-pattern>/grp.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Grp_memServlet</servlet-name>
    <servlet-class>com.grp_mem.controller.Grp_memServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Grp_memServlet</servlet-name>
    <url-pattern>/grp_mem.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ReaderPic</servlet-name>
    <servlet-class>com.tools.DBImgReader</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReaderPic</servlet-name>
    <url-pattern>/front_end/readPic</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>tripHtmlOnLoad</servlet-name>
    <servlet-class>com.trip.controller.TripServlet</servlet-class>
    <load-on-startup>10</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>tripHtmlOnLoad</servlet-name>
    <url-pattern>/trip/trip.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GatPicture</servlet-name>
    <servlet-class>com.trip.controller.GatPicture</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GatPicture</servlet-name>
    <url-pattern>/trip/getPicture.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AttractionsEditServlet</servlet-name>
    <servlet-class>com.attEdit.controller.AttractionsEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AttractionsEditServlet</servlet-name>
    <url-pattern>/attEdit/attEdit.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AttractionsServlet</servlet-name>
    <servlet-class>com.attractions.controller.AttractionsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AttractionsServlet</servlet-name>
    <url-pattern>/attractions/att.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QuestionServlet</servlet-name>
    <servlet-class>com.question.controller.QuestionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuestionServlet</servlet-name>
    <url-pattern>/question.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QuestionGetPicture</servlet-name>
    <servlet-class>com.question.controller.QuestionGetPicture</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuestionGetPicture</servlet-name>
    <url-pattern>/QuestionGetPicture</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Qa_listServlet</servlet-name>
    <servlet-class>com.qa_list.controller.Qa_listServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Qa_listServlet</servlet-name>
    <url-pattern>/qa_list.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NewsServlet</servlet-name>
    <servlet-class>com.news.controller.NewsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewsServlet</servlet-name>
    <url-pattern>/news.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FaqServlet</servlet-name>
    <servlet-class>com.faq.controller.FaqServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FaqServlet</servlet-name>
    <url-pattern>/faq.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>About_usServlet</servlet-name>
    <servlet-class>com.about_us.controller.About_usServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>About_usServlet</servlet-name>
    <url-pattern>/about_us.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Qa_replyServlet</servlet-name>
    <servlet-class>com.qa_reply.controller.Qa_replyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Qa_replyServlet</servlet-name>
    <url-pattern>/qa_reply.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Qa_collectServlet</servlet-name>
    <servlet-class>com.qa_collect.controller.Qa_collectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Qa_collectServlet</servlet-name>
    <url-pattern>/qa_collect.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Qa_reportServlet</servlet-name>
    <servlet-class>com.qa_report.controller.Qa_reportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Qa_reportServlet</servlet-name>
    <url-pattern>/qa_report.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Rp_reportServlet</servlet-name>
    <servlet-class>com.rp_report.controller.Rp_reportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Rp_reportServlet</servlet-name>
    <url-pattern>/rp_report.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProductCategoryServlet</servlet-name>
    <servlet-class>com.productCategory.controller.ProductCategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductCategoryServlet</servlet-name>
    <url-pattern>/front_end/store/productCategory.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProductServlet</servlet-name>
    <servlet-class>com.product.controller.ProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductServlet</servlet-name>
    <url-pattern>/front_end/store/product.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProductReportServlet</servlet-name>
    <servlet-class>com.productReport.controller.ProductReportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductReportServlet</servlet-name>
    <url-pattern>/front_end/store/productReport.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProductWishlistServlet</servlet-name>
    <servlet-class>com.productWishlist.controller.ProductWishlistServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductWishlistServlet</servlet-name>
    <url-pattern>/front_end/store/productWishlist.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OrdServlet</servlet-name>
    <servlet-class>com.ord.controller.OrdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrdServlet</servlet-name>
    <url-pattern>/front_end/store/ord.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OrderDetailsServlet</servlet-name>
    <servlet-class>com.orderDetails.controller.OrderDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderDetailsServlet</servlet-name>
    <url-pattern>/front_end/store/orderDetails.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Store711Servlet</servlet-name>
    <servlet-class>com.store711.controller.Store711Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Store711Servlet</servlet-name>
    <url-pattern>/front_end/store/store711.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShoppingServlet</servlet-name>
    <servlet-class>com.shopping.controller.ShoppingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShoppingServlet</servlet-name>
    <url-pattern>/front_end/store/shopping.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StreetServlet</servlet-name>
    <servlet-class>com.street.controller.StreetServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StreetServlet</servlet-name>
    <url-pattern>/front_end/store/street.do</url-pattern>
  </servlet-mapping>
</web-app>