.my_account_password{
    
}
.account_password{
    padding-left: 0px;
    margin-bottom: 60px;
    width: 200px;
    height: 20px;
    color: black;
    text-align: left;
    font-family: 'Oswald','Noto Sans TC', sans-serif !important;
}

body > div.banner.about-bg > div.item_context > div > div.my_account_profile > div > div:nth-child(1) > div > input{
    background-color: white;
}
body > div.banner.about-bg > div.item_context > div > div.my_account_profile > div > div:nth-child(2) > div > input{
    background-color: white;
}
body > div.banner.about-bg > div.item_context > div > div.my_account_profile > div > div:nth-child(3) > div > input{
    background-color: white;
}

.input-with-label_password{

    width: 150px;
    height: 40px;
    box-sizing: border-box;
    display: inline-block;
}

#btn-sumbit-password-setting{
    display: inline-block;
    width: 131px;
    height: 35px;
    margin-top: 0px;
    border-top-width: 20px;
}

.btn-sumbit-password{
    margin-left: px;
    margin-top: 20px;
    width: 56px;
    height: 35px;
}