@media (min-width: 992px)
.container-group {
    max-width: 960px;
}
.container-group{
    width: 100%;
    padding-right: 180px;
    padding-left: 180px;
    margin-right: auto;
    margin-left: auto;
    margin-top;-100px;
}
.carousel-caption{
    top:50px;
}
body > div:nth-child(2) > div > div > div > div > p:nth-child(3) > a{
    background-color: rgba(0,50,50,0.2);
    border-color: rgba(0,67,50,0.2);
}

.flight-engine {
    left: 0px;
    right: 0px;
    bottom: 50px;
    padding: 20px;
    z-index: 999;
    top: 130px;
    height: 190px;
}
.tab1.active {
    display: block;
}
.tab1 {
    display: none
}
.tabing {
    float: left;
    width: 100%;
    padding: 0 10px 10px 10px;
    color: #fff;
}
.tabing ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    width: 100%;
    float: left;
}
.tabing ul li {
    float: left;
}
.tabing ul li a {
    display: block;
    padding: 5px;
    text-decoration: none;
    color: #fff;
    background: rgba(0, 130, 185, .9);
    margin: 0 10px 0 0;
    padding: 5px 10px 5px 10px;
    border-radius: 0px 0px 5px 5px;
    font-size: 16px;
    text-align: left;
}
.tabing ul li a.active {
    background:white;
    color:black;
}
.flight-tab {
    width: 100%;
    float: left;
    margin-top: 10px;
    padding: 15px;
    
}

.textboxstyle {
    
    outline:none;
    width: 150px;
    float: left;
    color: #191919;
    padding: 8px 10px 8px 35px;
    border: none;
    border-radius: 3px;
    background: #f5f5f5;
    font-size: 14px;
    line-height: 20px;
}
.persent-one {
    margin-right: 70px;
    width: 19%;
    float: left;
    position: relative;
    margin-bottom: 10px;
}
.persent-one i {
    position: absolute;
    left: 10px;
    top: 10px;
    color: #191919;
    font-size: 18px;
}
.persent-one.less-per {
    width: 130px;
    float: left;
}
.persent-one.less-btn {
    width: 100px;
    float: left;
 
}
.persent-one.less-btn .cst-btn {
    outline: none;
    margin-top: 3px;
    width: 100px;
    height: 30px;
    text-decoration:none;
}

#\31 > div > div:nth-child(1){
    width: 245px;
}

#arival{
    width: 250px;
}

#\31 > div{
    margin-left: 80px;
}


body > div.container > div > div{
    margin-left:-20px;
    margin-top: 130px;
    margin-bottom: 0px;
    width: 1000px;
}
.item {
    width: 235px;

    border:0.5px #F5F5F5 solid;
}
.item img{
    width: 235px;
    height: 220px;
}

body > div.container-group > div{
}

body > div.container-group > div:nth-child(2){
    margin-top: 30px;
}
body > div.container-group > div:nth-child(3){
    margin-top: 30px;
    padding-bottom: 100px;
}
.pagination{
    float: right;

}

.pagination>li>a, .pagination>li>span { 
    border-radius: 50% !important;
    margin: 0 5px;
    
}
body > div.container-group > div:nth-child(3) > ul > li.active > a{
    background-color: lightgray;
    border-color:lightgray;
}
body > div.container-group > div > ul > li> a{
    color:lightgray;
}
a{
    color:black;
}
#context-group{
    text-decoration:none;
}

.con-group{
    margin-left: 5px;    
}
#user-group{
    width: 24px;
    height: 24px;
    margin-left: 5px;
    border-radius: 12px;
}
